*, ::before, ::after {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  --tw-blur: var(--tw-empty,/*!*/ /*!*/);
  --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
  --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
  --tw-invert: var(--tw-empty,/*!*/ /*!*/);
  --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
  --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
  --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.fixed {
  position: fixed
}

.relative {
  position: relative
}

.bottom-0 {
  bottom: 0px
}

.col-span-5 {
  grid-column: span 5 / span 5
}

.col-span-2 {
  grid-column: span 2 / span 2
}

.col-span-3 {
  grid-column: span 3 / span 3
}

.col-start-8 {
  grid-column-start: 8
}

.col-start-9 {
  grid-column-start: 9
}

.row-start-3 {
  grid-row-start: 3
}

.mb-20 {
  margin-bottom: 5rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-auto {
  margin-top: auto
}

.ml-2 {
  margin-left: 0.5rem
}

.ml-8 {
  margin-left: 2rem
}

.mt-8 {
  margin-top: 2rem
}

.mt-6 {
  margin-top: 1.5rem
}

.mt-2 {
  margin-top: 0.5rem
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.h-full {
  height: 100%
}

.w-full {
  width: 100%
}

.w-max {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content
}

.max-w-6xl {
  max-width: 72rem
}

.max-w-4xl {
  max-width: 56rem
}

.auto-cols-auto {
  grid-auto-columns: auto
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr))
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr))
}

.flex-row-reverse {
  flex-direction: row-reverse
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-10 {
  gap: 2.5rem
}

.gap-8 {
  gap: 2rem
}

.gap-2 {
  gap: 0.5rem
}

.gap-4 {
  gap: 1rem
}

.gap-5 {
  gap: 1.25rem
}

.gap-3 {
  gap: 0.75rem
}

.space-y-10 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse))
}

.space-y-16 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(4rem * var(--tw-space-y-reverse))
}

.space-y-14 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3.5rem * var(--tw-space-y-reverse))
}

.justify-self-center {
  justify-self: center
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.border-0 {
  border-width: 0px
}

.border-t {
  border-top-width: 1px
}

.border-solid {
  border-style: solid
}

.border-none {
  border-style: none
}

.bg-transparent {
  background-color: transparent
}

.bg-neutral-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity))
}

.p-8 {
  padding: 2rem
}

.pb-0 {
  padding-bottom: 0px
}

.pb-36 {
  padding-bottom: 9rem
}

.text-center {
  text-align: center
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.font-medium {
  font-weight: 500
}

.font-bold {
  font-weight: 700
}

.font-semibold {
  font-weight: 600
}

.capitalize {
  text-transform: capitalize
}

.text-emerald-800 {
  --tw-text-opacity: 1;
  color: rgb(6 95 70 / var(--tw-text-opacity))
}

.text-amber-600 {
  --tw-text-opacity: 1;
  color: rgb(217 119 6 / var(--tw-text-opacity))
}

.text-cyan-600 {
  --tw-text-opacity: 1;
  color: rgb(8 145 178 / var(--tw-text-opacity))
}

.text-emerald-700 {
  --tw-text-opacity: 1;
  color: rgb(4 120 87 / var(--tw-text-opacity))
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity))
}

.text-slate-600 {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity))
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.outline {
  outline-style: solid
}

.filter {
  filter: var(--tw-filter)
}

.hover\:cursor-pointer:hover {
  cursor: pointer
}

@media (min-width: 640px) {
  .sm\:col-start-2 {
    grid-column-start: 2
  }

  .sm\:row-span-2 {
    grid-row: span 2 / span 2
  }

  .sm\:grid-flow-col {
    grid-auto-flow: column
  }

  .sm\:flex-row {
    flex-direction: row
  }

  .sm\:items-center {
    align-items: center
  }

  .sm\:self-center {
    align-self: center
  }

  .sm\:justify-self-end {
    justify-self: end
  }
}

@media (min-width: 768px) {
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }
}

@media (min-width: 1024px) {
  .lg\:mt-6 {
    margin-top: 1.5rem
  }

  .lg\:mt-8 {
    margin-top: 2rem
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }
}